In [222]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [223]:
df = pd.read_csv('capital_bike_data/train.csv')

In [224]:
def feature_engin(df):
    df['date'] = pd.to_datetime(df['datetime'])
    df.set_index(['date'], inplace=True)
    df['year'] = df.index.year
    df['month'] = df.index.month
    df['day'] = df.index.day
    df['hour'] = df.index.hour
    df.drop(['datetime'], axis=1, inplace=True)
    df.reset_index(inplace=True, drop=True)

## STEP 2. use Regression model

DONE:
- get a first impression & check out data
- find corrolations (heatmap & plotting)
- feature engineer

create your own features by binning data

## STEP 2.1. Split into test & train data

In [225]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [226]:
feature_engin(df)
df.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0
1,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1
2,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2
3,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3
4,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4

In [227]:
df = pd.get_dummies(df,columns=['weather'], drop_first=True)

TypeError: get_dummies() got an unexpected keyword argument 'inplace'

In [221]:
df.head()

,season,holiday,workingday,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,weather_2,weather_3,weather_4
0,1,0,0,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,0,0,0
1,1,0,0,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,0,0,0
2,1,0,0,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,0,0,0
3,1,0,0,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,0,0,0
4,1,0,0,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,0,0,0

In [184]:
weather_dummys = pd.get_dummies(df['weather'])

In [185]:
df = pd.merge(left=df, right=season_dummys, how='inner', on=df.index).set_index('key_0')

In [186]:
df = pd.merge(left=df, right=weather_dummys, how='inner', on=df.index).set_index('key_0')

In [187]:
df.drop(['season', 'weather', 'registered', 'casual'], axis=1, inplace=True)
df.head()

,holiday,workingday,temp,atemp,humidity,windspeed,count,year,month,day,hour,1_x,2_x,3_x,4_x,1_y,2_y,3_y,4_y
key_0,,,,,,,,,,,,,,,,,,,
0,0,0,9.84,14.395,81,0.0,16,2011,1,1,0,1,0,0,0,1,0,0,0
1,0,0,9.02,13.635,80,0.0,40,2011,1,1,1,1,0,0,0,1,0,0,0
2,0,0,9.02,13.635,80,0.0,32,2011,1,1,2,1,0,0,0,1,0,0,0
3,0,0,9.84,14.395,75,0.0,13,2011,1,1,3,1,0,0,0,1,0,0,0
4,0,0,9.84,14.395,75,0.0,1,2011,1,1,4,1,0,0,0,1,0,0,0

In [228]:
mms = MinMaxScaler()

In [229]:
df[['atemp','windspeed', 'humidity']] = mms.fit_transform(df[['atemp','windspeed', 'humidity']])

/home/pepper/Applications/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [232]:
df['windspeed']

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
5        0.105325
6        0.000000
7        0.000000
8        0.000000
9        0.000000
10       0.298225
11       0.333373
12       0.333373
13       0.350888
14       0.333373
15       0.350888
16       0.350888
17       0.333373
18       0.298225
19       0.298225
20       0.298225
21       0.228047
22       0.263195
23       0.350888
24       0.350888
25       0.298225
26       0.333373
27       0.228047
28       0.228047
29       0.350888
           ...
10856    0.386035
10857    0.456213
10858    0.298225
10859    0.263195
10860    0.000000
10861    0.105325
10862    0.000000
10863    0.105325
10864    0.105325
10865    0.157870
10866    0.157870
10867    0.105325
10868    0.105325
10869    0.157870
10870    0.122840
10871    0.122840
10872    0.122840
10873    0.263195
10874    0.333373
10875    0.228047
10876    0.228047
10877    0.333373
10878    0.421065
10879    0.456213
10880    0.421065
10881    0.456213
10882    0.263195
10883    0.263195
10884    0.105325
10885    0.157870
Name: windspeed, Length: 10886, dtype: float64

In [188]:
y = df['count'] #vector

In [189]:
df = df.drop(['count'], axis=1)
X_features = df.columns
X = df[X_features] #matrix

In [190]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_log_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [191]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [192]:
m = LinearRegression()
m_forest = RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)

In [193]:
m.fit(X_train, y_train)
m_forest.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

## STEP 2.2 Prediction

In [194]:
ypred = m.predict(X_test)
ypred_forest = m_forest.predict(X_test)

In [195]:
ypred

array([231.75060251,  28.65596295, 198.16032353, ...,  98.64776754,
       141.42868473,  72.9112728 ])

In [196]:
ypred_forest

array([267.12623749,  77.95577318, 195.61532859, ...,  24.87304935,
       267.12623749, 199.5979954 ])

In [197]:
same = ypred == ypred_forest
same.sum()

0

In [198]:
len(X_test)

2722

## STEP 2.3 Score & Cross-Validation

In [199]:
cvs = cross_val_score(m_forest, X_train, y_train, cv=10)
cvs.mean()

0.4451654476332543

In [200]:
cvs.std()

0.016908499162392537

In [201]:
# remember this scores does not work well with Regression Models so we use RMSLE

In [202]:
# Squareroot does not work with negativ numbers, so ...

In [203]:
ypred.min(), ypred.max(), y_test.min(), y_test.max(),

(-154.23944434252917, 446.7556581933459, 1, 977)

In [204]:
ypred[ypred < 0]=0

In [205]:
ypred.min(), ypred.max()

(0.0, 446.7556581933459)

In [206]:
def rmsle(p,a):
    return np.sqrt(mean_squared_log_error([p],[a]))

In [207]:
rmsle(ypred, y_test)

1.2990563222219882