# Exercises on pandas Basics

## 1. Getting Started
We first import `pandas` and load a table into a DataFrame.

In [1]:
import pandas as pd

countries = pd.read_csv('large_countries_2015.csv', index_col=0)

In [2]:
%matplotlib inline

## 2. Working with DataFrames
To view the contents of a data frame, type its name:

In [3]:
countries

                 population  fertility      continent
Bangladesh     1.609956e+08       2.12           Asia
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
Japan          1.265735e+08       1.45           Asia
Mexico         1.270172e+08       2.13  North America
Nigeria        1.822020e+08       5.89         Africa
Pakistan       1.889249e+08       3.04           Asia
Philippines    1.006994e+08       2.98           Asia
Russia         1.434569e+08       1.61         Europe
United States  3.217736e+08       1.97  North America

## 3. Examining DataFrames
Match the Python commands with the descriptions below. 

*In Jupyter, you can move the descriptions up/down with the arrow buttons.*

In [4]:
countries.head(3)

              population  fertility      continent
Bangladesh  1.609956e+08       2.12           Asia
Brazil      2.078475e+08       1.78  South America
China       1.376049e+09       1.57           Asia

In [5]:
countries.tail(3)

                population  fertility      continent
Philippines    100699395.0       2.98           Asia
Russia         143456918.0       1.61         Europe
United States  321773631.0       1.97  North America

In [6]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, Bangladesh to United States
Data columns (total 3 columns):
population    12 non-null float64
fertility     12 non-null float64
continent     12 non-null object
dtypes: float64(2), object(1)
memory usage: 384.0+ bytes

In [7]:
countries.describe()

         population  fertility
count  1.200000e+01  12.000000
mean   3.753462e+08   2.437500
std    4.565194e+08   1.200781
min    1.006994e+08   1.450000
25%    1.393470e+08   1.737500
50%    1.855634e+08   2.125000
75%    2.736163e+08   2.567500
max    1.376049e+09   5.890000

In [8]:
countries.index

Index(['Bangladesh', 'Brazil', 'China', 'India', 'Indonesia', 'Japan',
       'Mexico', 'Nigeria', 'Pakistan', 'Philippines', 'Russia',
       'United States'],
      dtype='object')

In [9]:
countries.columns

Index(['population', 'fertility', 'continent'], dtype='object')

In [10]:
countries=countries.reset_index()
countries["country"]=countries["index"]
countries

            index    population  fertility      continent        country
0      Bangladesh  1.609956e+08       2.12           Asia     Bangladesh
1          Brazil  2.078475e+08       1.78  South America         Brazil
2           China  1.376049e+09       1.57           Asia          China
3           India  1.311051e+09       2.43           Asia          India
4       Indonesia  2.575638e+08       2.28           Asia      Indonesia
5           Japan  1.265735e+08       1.45           Asia          Japan
6          Mexico  1.270172e+08       2.13  North America         Mexico
7         Nigeria  1.822020e+08       5.89         Africa        Nigeria
8        Pakistan  1.889249e+08       3.04           Asia       Pakistan
9     Philippines  1.006994e+08       2.98           Asia    Philippines
10         Russia  1.434569e+08       1.61         Europe         Russia
11  United States  3.217736e+08       1.97  North America  United States

In [25]:
#del countries['index']
countries = countries.drop('index', axis=1)

In [26]:
countries

      population  fertility      continent        country
0   1.609956e+08       2.12           Asia     Bangladesh
1   2.078475e+08       1.78  South America         Brazil
2   1.376049e+09       1.57           Asia          China
3   1.311051e+09       2.43           Asia          India
4   2.575638e+08       2.28           Asia      Indonesia
5   1.265735e+08       1.45           Asia          Japan
6   1.270172e+08       2.13  North America         Mexico
7   1.822020e+08       5.89         Africa        Nigeria
8   1.889249e+08       3.04           Asia       Pakistan
9   1.006994e+08       2.98           Asia    Philippines
10  1.434569e+08       1.61         Europe         Russia
11  3.217736e+08       1.97  North America  United States

In [11]:
countries['population'].mean()

375346161.6666667

In [12]:
countries['continent'].value_counts()

Asia             7
North America    2
Africa           1
South America    1
Europe           1
Name: continent, dtype: int64

In [13]:
countries.shape
#rows first=0
#then columns=1

(12, 5)

In [14]:
countries['continent'].unique()

array(['Asia', 'South America', 'North America', 'Africa', 'Europe'],
      dtype=object)

In [15]:
countries['population'] // 1000000

0      160.0
1      207.0
2     1376.0
3     1311.0
4      257.0
5      126.0
6      127.0
7      182.0
8      188.0
9      100.0
10     143.0
11     321.0
Name: population, dtype: float64

#### Number of rows and columns

#### Show the last 3 lines

In [27]:
countries

      population  fertility      continent        country
0   1.609956e+08       2.12           Asia     Bangladesh
1   2.078475e+08       1.78  South America         Brazil
2   1.376049e+09       1.57           Asia          China
3   1.311051e+09       2.43           Asia          India
4   2.575638e+08       2.28           Asia      Indonesia
5   1.265735e+08       1.45           Asia          Japan
6   1.270172e+08       2.13  North America         Mexico
7   1.822020e+08       5.89         Africa        Nigeria
8   1.889249e+08       3.04           Asia       Pakistan
9   1.006994e+08       2.98           Asia    Philippines
10  1.434569e+08       1.61         Europe         Russia
11  3.217736e+08       1.97  North America  United States

In [17]:
#selecting columns
countries["population"] #series(basicly is a list)
countries[["population","fertility"]] #dataframe

      population  fertility
0   1.609956e+08       2.12
1   2.078475e+08       1.78
2   1.376049e+09       1.57
3   1.311051e+09       2.43
4   2.575638e+08       2.28
5   1.265735e+08       1.45
6   1.270172e+08       2.13
7   1.822020e+08       5.89
8   1.889249e+08       3.04
9   1.006994e+08       2.98
10  1.434569e+08       1.61
11  3.217736e+08       1.97

In [18]:
#selecting rows by name
countries.loc[0]
#selecting rows by which element they are in the list
countries.iloc[:3]

        index    population  fertility      continent     country
0  Bangladesh  1.609956e+08       2.12           Asia  Bangladesh
1      Brazil  2.078475e+08       1.78  South America      Brazil
2       China  1.376049e+09       1.57           Asia       China

In [28]:
#ask a qustion about the dataframe and only get true values back
#does the country column contain more than 5 characters for a given row?
countries[countries["country"].str.len()>5]

     population  fertility      continent        country
0   160995642.0       2.12           Asia     Bangladesh
1   207847528.0       1.78  South America         Brazil
4   257563815.0       2.28           Asia      Indonesia
6   127017224.0       2.13  North America         Mexico
7   182201962.0       5.89         Africa        Nigeria
8   188924874.0       3.04           Asia       Pakistan
9   100699395.0       2.98           Asia    Philippines
10  143456918.0       1.61         Europe         Russia
11  321773631.0       1.97  North America  United States

#### Summarize categorical data

#### Mean of a column

#### Summarize all numerical columns

#### Show the first 3 lines

#### Apply a calculation to each value in a column

#### Extract distinct values

## 4. Selecting rows and columns
Match the Python commands with the descriptions below.

In [20]:
countries.columns

Index(['index', 'population', 'fertility', 'continent', 'country'], dtype='object')

In [21]:
countries.index

RangeIndex(start=0, stop=12, step=1)

In [22]:
countries['continent']

0              Asia
1     South America
2              Asia
3              Asia
4              Asia
5              Asia
6     North America
7            Africa
8              Asia
9              Asia
10           Europe
11    North America
Name: continent, dtype: object

In [23]:
countries[['population', 'continent']]

      population      continent
0   1.609956e+08           Asia
1   2.078475e+08  South America
2   1.376049e+09           Asia
3   1.311051e+09           Asia
4   2.575638e+08           Asia
5   1.265735e+08           Asia
6   1.270172e+08  North America
7   1.822020e+08         Africa
8   1.889249e+08           Asia
9   1.006994e+08           Asia
10  1.434569e+08         Europe
11  3.217736e+08  North America

In [29]:
countries.loc['India']

KeyError: 'the label [India] is not in the [index]'

In [ ]:
countries.iloc[3:7]

In [ ]:
countries[countries['population'] > 200000000]

In [ ]:
countries.values

#### Extract raw data as a NumPy array

#### Select rows by slicing the index

#### Filter rows by a condition

#### Display column labels

#### Select multiple columns

#### Display row index

#### Select row by an index value

#### Select one column

## 5. Summarizing Data
Match the Python commands with the descriptions below.

In [ ]:
countries['fertility'].cumsum()

In [ ]:
countries.groupby('continent')['population'].sum()

In [ ]:
countries.sort_values(by=['continent', 'fertility'])

In [ ]:
def get_initial(s):
    return s[0]

countries['initial'] = countries['continent'].apply(get_initial)
countries

In [ ]:
countries.stack()

In [ ]:
countries.transpose()

In [ ]:
countries['fertility'].hist()

In [ ]:
countries.plot('population', 'fertility', style='ro')

#### Draw a scatterplot

#### Move columns to a new index level

#### Create a new column using a function

#### Draw a histogram

#### Cumulatively apply a sum over a column

#### Swap rows and columns

#### Calculate sum of one column grouped by a second one

#### Sort values

## License
(c) 2017 Kristian Rother
Distributed under the conditions of the MIT License.