In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [27]:
df = pd.read_csv('capital_bike_data/train.csv')

In [28]:
def feature_engin(df):
    mms = MinMaxScaler()
    df['date'] = pd.to_datetime(df['datetime'])
    df.set_index(['date'], inplace=True)
    df['month'] = df.index.month
    df['hour'] = df.index.hour
    df[['atemp','windspeed', 'humidity']] = mms.fit_transform(df[['atemp','windspeed', 'humidity']])
    df.drop(['datetime'], axis=1, inplace=True)
    df.reset_index(inplace=True, drop=True)
    df = pd.get_dummies(df, columns=['weather'], drop_first=True)
    df = pd.get_dummies(df, columns=['season'], drop_first=True)
    return df

## STEP 2. use Regression model

DONE:
- get a first impression & check out data
- find corrolations (heatmap & plotting)
- feature engineer

create your own features by binning data

## STEP 2.1. Split into test & train data

In [29]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [30]:
df = feature_engin(df)

/home/pepper/Applications/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [31]:
df.head()

,holiday,workingday,temp,atemp,humidity,windspeed,casual,registered,count,month,hour,weather_2,weather_3,weather_4,season_2,season_3,season_4
0,0,0,9.84,0.305068,0.81,0.0,3,13,16,1,0,0,0,0,0,0,0
1,0,0,9.02,0.288064,0.80,0.0,8,32,40,1,1,0,0,0,0,0,0
2,0,0,9.02,0.288064,0.80,0.0,5,27,32,1,2,0,0,0,0,0,0
3,0,0,9.84,0.305068,0.75,0.0,3,10,13,1,3,0,0,0,0,0,0
4,0,0,9.84,0.305068,0.75,0.0,0,1,1,1,4,0,0,0,0,0,0

In [32]:
#df[['atemp','windspeed', 'humidity']] = mms.fit_transform(df[['atemp','windspeed', 'humidity']])

In [33]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_log_error

- from sklearn.metrics import mean_square_log_error

- notes for fitting / use log function / move this to end of script
- m.fit (X_poly, np.log(y))
- ypred = m.predict(X_poly)

In [34]:
poly1 = PolynomialFeatures(degree = 4)
poly2 = PolynomialFeatures(degree = 4)

In [35]:
X_df1 = df[['temp', 'humidity']]
X_df2 = df[['hour', 'month']]
X_poly1 = poly1.fit_transform(X_df1)
X_poly2 = poly2.fit_transform(X_df2)
# merg it with engineerd dataframe!!!
# then m.fit & predict new ! submit to kaggle

In [36]:
type(X_poly1)

numpy.ndarray

In [37]:
#lable_w = 'w' + 
X_poly1.shape, X_poly2.shape

((10886, 15), (10886, 15))

In [38]:
#X_poly_df1 = pd.DataFrame(X_poly1, index=df.index, columns=poly1.get_feature_names())
X_poly_df1 = pd.DataFrame(X_poly1, index=df.index, columns= ['w_'+i for i in poly1.get_feature_names()])
X_poly_df2 = pd.DataFrame(X_poly2, index=df.index, columns= ['d_'+i for i in poly1.get_feature_names()])

In [39]:
newnames = ['w_'+i for i in poly1.get_feature_names()]
newnames

['w_1',
 'w_x0',
 'w_x1',
 'w_x0^2',
 'w_x0 x1',
 'w_x1^2',
 'w_x0^3',
 'w_x0^2 x1',
 'w_x0 x1^2',
 'w_x1^3',
 'w_x0^4',
 'w_x0^3 x1',
 'w_x0^2 x1^2',
 'w_x0 x1^3',
 'w_x1^4']

TASKs:
- polynomilize weather, humidity, temp, (month & hour), separatly not in ralation together  --> check score
- clean/feature engineer weather data( at 4-blizzard), and high humidity data before, they are false, check plot for that

In [79]:
df.head()

,workingday,atemp,weather_2,weather_3,weather_4,season_2,season_3,season_4,w_1,w_x0,...,d_x1^2,d_x0^3,d_x0^2 x1,d_x0 x1^2,d_x1^3,d_x0^4,d_x0^3 x1,d_x0^2 x1^2,d_x0 x1^3,d_x1^4
0,0,0.305068,0,0,0,0,0,0,1.0,9.84,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0,0.288064,0,0,0,0,0,0,1.0,9.02,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,0,0.288064,0,0,0,0,0,0,1.0,9.02,...,1.0,8.0,4.0,2.0,1.0,16.0,8.0,4.0,2.0,1.0
3,0,0.305068,0,0,0,0,0,0,1.0,9.84,...,1.0,27.0,9.0,3.0,1.0,81.0,27.0,9.0,3.0,1.0
4,0,0.305068,0,0,0,0,0,0,1.0,9.84,...,1.0,64.0,16.0,4.0,1.0,256.0,64.0,16.0,4.0,1.0

In [40]:
df = pd.merge(left=df, right=X_poly_df1, how='inner', on=df.index)
df.drop(['key_0'], axis=1, inplace=True)
df = pd.merge(left=df, right=X_poly_df2, how='inner', on=df.index)
df.drop(['key_0'], axis=1, inplace=True)
df.head()

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [ ]:
from sklearn.linear_model import Ridge
m = Ridge(alpha=1.0) # standart regulation = alpha=1, means no regulation applied

In [46]:
y = df['count'] #vector

In [49]:
df.drop(['temp', 'humidity', 'hour', 'month'], axis=1, inplace=True)

In [47]:
df = df.drop(['count', 'casual', 'registered', 'holiday', 'windspeed'], axis=1)
X_features = df.columns
X = df[X_features] #matrix

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_log_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [53]:
m = LinearRegression()
m_forest = RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)

In [54]:
m.fit(X_train, y_train)
m_forest.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

## STEP 2.2 Prediction

In [55]:
ypred = m.predict(X_test)
ypred_forest = m_forest.predict(X_test)

In [56]:
ypred

array([308.39009106,  56.81249219, 279.71220582, ..., 116.42599696,
       209.75042967, 164.81698446])

In [57]:
ypred_forest

array([331.90276011,  77.95577318, 199.83309429, ...,  24.87304935,
       331.90276011, 214.51710627])

In [58]:
same = ypred == ypred_forest
same.sum()

0

In [59]:
len(X_test)

2722

## STEP 2.3 Score & Cross-Validation

In [60]:
# for random forest model

In [61]:
cvs = cross_val_score(m_forest, X_train, y_train, cv=10)
cvs.mean()

0.4171648537544958

In [62]:
cvs.std()

0.021656168239926818

In [63]:
m_forest.score(X_train, y_train)

0.42314116462444706

In [64]:
m.score(X_train, y_train)

0.523177939797149

In [65]:
# for linear regression model

In [66]:
# remember this scores does not work well with Regression Models so we use RMSLE

In [67]:
# Squareroot does not work with negativ numbers, so ...

In [68]:
ypred.min(), ypred.max(), y_test.min(), y_test.max(),

(-161.8831058113355, 483.20998773427266, 1, 977)

In [69]:
ypred[ypred <= 0] = 10

In [70]:
ypred.min(), ypred.max()

(0.5502851931573218, 483.20998773427266)

In [71]:
def rmsle(p,a):
    return np.sqrt(mean_squared_log_error([p],[a]))

In [72]:
rmsle(y_test, ypred), rmsle(y_test, ypred_forest)

(1.016576761232651, 0.9177336142748551)

## STEP 3 Prediction w. test data

In [73]:
df_t = pd.read_csv('capital_bike_data/test.csv')

In [74]:
df_t.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [75]:
feature_engin(df_t)
df_t.head()

/home/pepper/Applications/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,month,hour
0,1,0,1,1,10.66,0.2273,0.47619,0.464346,1,0
1,1,0,1,1,10.66,0.2727,0.47619,0.000000,1,1
2,1,0,1,1,10.66,0.2727,0.47619,0.000000,1,2
3,1,0,1,1,10.66,0.2576,0.47619,0.196458,1,3
4,1,0,1,1,10.66,0.2576,0.47619,0.196458,1,4

In [77]:
#poly1 = PolynomialFeatures(degree = 4)
#poly2 = PolynomialFeatures(degree = 4)

X_df1 = df_t[['temp', 'humidity']]
X_df2 = df_t[['hour', 'month']]
# dont fit again!!
X_poly1 = poly1.transform(X_df1)
X_poly2 = poly2.transform(X_df2)

X_poly_df1 = pd.DataFrame(X_poly1, index=df_t.index, columns= ['w_'+i for i in poly1.get_feature_names()])
X_poly_df2 = pd.DataFrame(X_poly2, index=df_t.index, columns= ['d_'+i for i in poly1.get_feature_names()])

df_t = pd.merge(left=df_t, right=X_poly_df1, how='inner', on=df_t.index)
df_t.drop(['key_0'], axis=1, inplace=True)
df_t = pd.merge(left=df_t, right=X_poly_df2, how='inner', on=df_t.index)
df_t.drop(['key_0'], axis=1, inplace=True)

df_t.drop(['temp', 'humidity', 'hour', 'month'], axis=1, inplace=True)
df_t = df_t.drop(['holiday', 'windspeed'], axis=1)

In [83]:
df_t.head()

,workingday,atemp,w_1,w_x0,w_x1,w_x0^2,w_x0 x1,w_x1^2,w_x0^3,w_x0^2 x1,...,d_x0^3 x1,d_x0^2 x1^2,d_x0 x1^3,d_x1^4,weather_2,weather_3,weather_4,season_2,season_3,season_4
0,1,0.2273,1.0,10.66,0.47619,113.6356,5.07619,0.226757,1211.355496,54.11219,...,0.0,0.0,0.0,1.0,0,0,0,0,0,0
1,1,0.2727,1.0,10.66,0.47619,113.6356,5.07619,0.226757,1211.355496,54.11219,...,1.0,1.0,1.0,1.0,0,0,0,0,0,0
2,1,0.2727,1.0,10.66,0.47619,113.6356,5.07619,0.226757,1211.355496,54.11219,...,8.0,4.0,2.0,1.0,0,0,0,0,0,0
3,1,0.2576,1.0,10.66,0.47619,113.6356,5.07619,0.226757,1211.355496,54.11219,...,27.0,9.0,3.0,1.0,0,0,0,0,0,0
4,1,0.2576,1.0,10.66,0.47619,113.6356,5.07619,0.226757,1211.355496,54.11219,...,64.0,16.0,4.0,1.0,0,0,0,0,0,0

In [84]:
df_t = pd.get_dummies(df_t, columns=['weather'], drop_first=True)
df_t = pd.get_dummies(df_t, columns=['season'], drop_first=True)
df.reset_index(inplace=True, drop=True)

KeyError: "None of [Index(['weather'], dtype='object')] are in the [columns]"

In [85]:
ypred_t_forest = m_forest.predict(df_t)

In [86]:
ypred_t = m.predict(df_t)

In [87]:
ypred_t[ypred_t<=0]=15
ypred_t_forest[ypred_t_forest<=0]=15

In [88]:
ypred_t.min(), ypred_t_forest.min()

(15.0, 24.873049353606433)

## STEP 4: submission & online verification

In [89]:
sub_df = pd.read_csv('capital_bike_data/sampleSubmission.csv')
df_t = pd.read_csv('capital_bike_data/test.csv')

In [90]:
len(sub_df), len(df_t)

(6493, 6493)

In [91]:
ypred_t = np.round(ypred_t, decimals=0)
ypred_t_forest = np.round(ypred_t_forest, decimals=0)

In [92]:
# for i in ypred_t np.int(i)

In [93]:
sub_df['count'] = ypred_t

In [94]:
#sub_df['count'][sub_df['count']==0.0 = 5

In [95]:
sub_df['count'] = sub_df['count'].astype(int)
sub_df.head()

              datetime  count
0  2011-01-20 00:00:00     15
1  2011-01-20 01:00:00     15
2  2011-01-20 02:00:00     15
3  2011-01-20 03:00:00     15
4  2011-01-20 04:00:00     15

In [96]:
sub_df.reset_index(drop=True, inplace=True)

In [97]:
sub_df.head()

              datetime  count
0  2011-01-20 00:00:00     15
1  2011-01-20 01:00:00     15
2  2011-01-20 02:00:00     15
3  2011-01-20 03:00:00     15
4  2011-01-20 04:00:00     15

In [98]:
sub_df.to_csv('kaggel_submission_lin.csv', index=False)

In [99]:
sub_df['count'] = ypred_t_forest
sub_df['count'] = sub_df['count'].astype(int)

In [100]:
sub_df.to_csv('kaggel_submission_forest.csv', index=False)

In [101]:
check = pd.read_csv('kaggel_submission_forest.csv')
check.head(30)

               datetime  count
0   2011-01-20 00:00:00     25
1   2011-01-20 01:00:00     25
2   2011-01-20 02:00:00     25
3   2011-01-20 03:00:00     78
4   2011-01-20 04:00:00     78
5   2011-01-20 05:00:00     78
6   2011-01-20 06:00:00     78
7   2011-01-20 07:00:00     78
8   2011-01-20 08:00:00     78
9   2011-01-20 09:00:00     78
10  2011-01-20 10:00:00     78
11  2011-01-20 11:00:00     78
12  2011-01-20 12:00:00     78
13  2011-01-20 13:00:00     78
14  2011-01-20 14:00:00     87
15  2011-01-20 15:00:00     87
16  2011-01-20 16:00:00     87
17  2011-01-20 17:00:00    126
18  2011-01-20 18:00:00    126
19  2011-01-20 19:00:00    126
20  2011-01-20 20:00:00    126
21  2011-01-20 21:00:00    126
22  2011-01-20 22:00:00    126
23  2011-01-20 23:00:00    126
24  2011-01-21 00:00:00     25
25  2011-01-21 01:00:00     25
26  2011-01-21 02:00:00     25
27  2011-01-21 03:00:00     78
28  2011-01-21 04:00:00     78
29  2011-01-21 05:00:00     78

In [102]:
check2 = pd.read_csv('kaggel_submission_lin.csv')
check2.head(30)

               datetime  count
0   2011-01-20 00:00:00     15
1   2011-01-20 01:00:00     15
2   2011-01-20 02:00:00     15
3   2011-01-20 03:00:00     15
4   2011-01-20 04:00:00     15
5   2011-01-20 05:00:00     15
6   2011-01-20 06:00:00     15
7   2011-01-20 07:00:00     15
8   2011-01-20 08:00:00     15
9   2011-01-20 09:00:00     15
10  2011-01-20 10:00:00     15
11  2011-01-20 11:00:00     15
12  2011-01-20 12:00:00     15
13  2011-01-20 13:00:00     15
14  2011-01-20 14:00:00     15
15  2011-01-20 15:00:00     15
16  2011-01-20 16:00:00     15
17  2011-01-20 17:00:00     15
18  2011-01-20 18:00:00     15
19  2011-01-20 19:00:00     15
20  2011-01-20 20:00:00     15
21  2011-01-20 21:00:00     15
22  2011-01-20 22:00:00     15
23  2011-01-20 23:00:00     15
24  2011-01-21 00:00:00     15
25  2011-01-21 01:00:00     15
26  2011-01-21 02:00:00     15
27  2011-01-21 03:00:00     15
28  2011-01-21 04:00:00     15
29  2011-01-21 05:00:00     15